.cguest {
margin: 0 auto;
width: 70%;
padding-left: 10%;
}

.cguestinput:not(.btn) {
  width: 100%;
}

.cguestlabel {
  display: block;
}

.btn {
  display: block;
  margin-top: 5px;
}

.h1cguest {
  padding: 0 0 0 1%;
  margin-bottom: 4%;
  font-size: 2em;

}
