  footer {
  padding-top: $paddingTop;
  margin-bottom: 0;
    color: $themeColor1;
  }
  .glyphicon-envelope{
    float: right;
    padding-right: $footerPaddingRight;
  }

  .login {
    color: $themeColor1;
    display: inline;

  }
