  footer {
  padding-top: 15px;
  margin-bottom: 0;
    color: #222222;
  }
  .glyphicon-envelope{
    float: right;
    padding-right: 20px;
  }

  .login {
    color: #222222;
    display: inline;
  }
