.login {
  margin: 0 auto;
  width: 70%;
  padding-left: 10%;
}

.logininput:not(.btn) {
  width: 100%;
}

.loginlabel {
  display: block;
}

.btn {
  display: block;
  margin-top: 5px;
  margin-bottom: 20px;
}

.h1login {
  font-size: 2em;
  padding: 0 0 0 1%;
  margin-bottom: 4%;
}
