$formWidth: 70%;
$formPadding: 10%;
$formInputWidth: 100%;
$formCreateBtn: 5px;
$formCreateHeaderPadding: 0 0 0 1%;
$formCreateHeaderMargin: 4%;

$themeColor1: #ffffff;
$themeColor2: #b0b0b6;
$themeColor3: #A9A9A9;
$themeColor4: #ee0c0c;
$themeColor5: #6b1a16;
$themeColor6: #222222;


$paddingTop: 15px;
$paddingBottom: 10px;
$footerPaddingRight: 20px;

$fontSize1: 1em;
$fontSize2: 2em;

$headerMarginLeft: 5px;
$imageWidth1: 300px;

$reservationUlWidth: 90%;
$reservationliWidth: 275px;
$reservationMarginLeft: 10px;
$reservationh3Margin: 20px;

$roomAvailBorder: 2px solid #d4d4d4;
$roomPadding: 5px;
$roomMargin: 5px;
$roomWidth: 220px;
$roomBorderRad: 15px;
$roomBorderPdding: 25px;
