
  <h1>About Our Hotel</h1>
  <img class='hoteldoor' src='img/door-windows.jpg'>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum massa vitae nunc condimentum consequat.
    Vivamus iaculis odio mollis orci euismod lacinia. Donec vel libero dui. Quisque egestas purus quam, in interdum erat ultricies rhoncus.
    Nullam facilisis vitae lorem non facilisis. Cras ultricies orci sit amet tortor eleifend dignissim. Praesent ac felis auctor, pretium ipsum
    non, efficitur quam. Nullam arcu erat, dignissim sed elementum quis, porttitor id est. Aenean ut risus massa. Aliquam lorem dolor,
    vestibulum vitae sollicitudin ac, efficitur et mi. Sed ante quam, ultrices non sapien volutpat, lacinia commodo quam.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Nunc feugiat rutrum odio, eu finibus mi sagittis id. Nulla porttitor libero sed ante congue ultrices.
  </p>
  <p>
    Etiam tempor fringilla sem, ut venenatis mi suscipit vel. Aliquam mi nulla, sagittis in dictum at, tincidunt eu est.
    Sed suscipit aliquet nibh a interdum. Pellentesque maximus, urna ut aliquam vulputate, leo ex iaculis elit, a fermentum ex mi quis risus.
    Nullam eget pellentesque ligula. Duis nec dictum tortor. Suspendisse varius sit amet risus id aliquet.
    Suspendisse ornare ligula sit amet fermentum consectetur. Duis malesuada aliquam risus eu finibus. Pellentesque venenatis neque
    at fermentum ultricies. Morbi convallis nisl massa, vitae ultrices risus molestie condimentum.
  </p>
