<h1>Create New Reservation</h1>
<form>
  <label for='check-in'></label>
  <input type='date' name='check-in' id='check-in'>
  <label for='check-out'></label>
  <input type='date' name='check-out' id='check-out'>
  <label for='numberOfGuest'></label>
  <input type='number' name='numberOfGuest' id='numberOfGuest' min='0'>
  <label for='guestID'></label>
  <input type='number' name='guestID' id='guestID'>
  <label for='roomID'></label>
  <input type='number' name='roomID' id='roomID'>
  <button type='submit' name='Make Reservation'></button>
</form>
