<p>All Reservation View</p>


<ul>
  <li class="panel panel-info list-unstyled" ng-repeat="reservation in allRes.reservations">
    <header class="panel-heading">
      <p>Reservation Date {{reservation.checkinDate}}</p>
      <p>- Room #{{reservation.room.number}}</p>
    </header>
    <section class="panel-body">
      <p>Guest: {{reservation.guest.fullName}}</p>
      <p>({{reservation.numberOfGuests}})</p>
      <p>Check out: {{reservation.checkoutDate}}</p>
      <button type="button" name="button">Delete</button>
    </section>
  </li>
</ul>
