<h2>Reservation Number: </h2>
<section>
  <aside>
    <cite>Name: {{singleReservation.singleReservation.guest.fullName}}</cite>
    <p>Email: {{singleReservation.singleReservation.guest}}</p>
  </aside>
    <aside>
      <h3>Room # {{singleReservation.singleReservation.room.number}} </h3>
      <p>Max Occupancy: </p>
    </aside>
</section>
<p>Check-In Date: {{singleReservation.singleReservation.reservation.checkinDate}}</p>
<p>Check-Out Date: {{singleReservation.singleReservation.reservation.checkoutDate}}</p>
