<p>Staff login view</p>

<form>
  <input type='text' name='' placeholder='Staff email'>

  <input type='text' name='' placeholder='Password'>

  <input type='submit' name='' value='Login'>

</form>


<p>If you need to create new login credentials please complete below form</p>


<form name='staffer' ng-submit='staffer.$valid && login.staffLogin(login.staff)'>

  <input ng-model='login.staff.email' type='text' placeholder='Email Address'>
  <input ng-model='login.staff.password' type='text' placeholder='Password'>
  <input type='submit' name='' value='Submit'>



</form>
