<p>Staff login view</p>

<form>
  <input type="text" name="" placeholder="Staff email">

  <input type="text" name="" placeholder="Password">

  <input type="submit" name="" value="Login">

</form>


<p>If you need to create new login credentials please complete below form</p>


<form ng-submit=''>

  <input ng-model='staffLogin.staff.name' type="text" name="" placeholder="Full Name">
  <input ng-model='staffLogin.staff.email' type="text" name="" placeholder="Email Address">
  <input ng-model='staffLogin.staff.password' type="text" name="" placeholder="Password">
  <input ng-model='' type="submit" name="" value="Submit">



</form>
